* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
 
#banner {
    background: linear-gradient(rgba(26, 121, 145, 0.01), #133073) ,url(photos/pexels-pixabay-416676.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    width: 140px;
    position: absolute;
    top: 2%;
    left: 3%

}
.banner-style {
    text-align: center;
    color: white;
    padding-top: 180px;

}
.banner-style h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner-style p {
    font-size: 20px;
    font-style: italic;
    
}
.banner-button{
    margin: 70px auto 0;

}
.banner-button a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 0.5px solid white;
    position: relative;
    z-index: 1;
    transition: 0.5s;

}

.banner-button a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}
.banner-button a:hover span{
    width: 100%;
}
.banner-button a:hover {
    color: black;
}